.detail .content_left {
    background: transparent;
    padding-top: 15px;
}

.detail_news .form_dk {
    background: #e1ebe5;
    border: 1px solid #ccc;
    padding: 25px 25px 10px 25px;
    opacity: 0.9;
    top: -168px;
    margin-bottom: 50px;
}

.detail_news .wrap_bottom>li:first-child {
    background: #0a7199;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 117%;
    font-weight: bold;
}




/*  content_01
----------------------------------------*/

.title>h3 {
    font-weight: bold;
    color: #0a7199;
    padding-left: 30px;
    margin-left: -15px;
    border-bottom: 2px solid #0a7199;
    padding-bottom: 3px;
    padding-top: 5px;
    font-size: 120%;
    background: url(../img/ico-bar_menu.png) 0 1px no-repeat;
}

.right_top {
    background: #e1ebe5;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 0 15px 0;
}

.right_top>dl>dd {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    margin-left: 8px;
    background: url(../img/bg-icon_bar.png) 0 5px no-repeat;
    line-height: 16px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.right_top>dl>dd>span {
    color: #0a7199;
}

.right_top>dl>dd>a {
    color: #000;
    font-size: 84%;
    text-decoration: none;
}

.right_top>dl>dd:last-child {
    background: none;
    text-align: right;
    border: none;
}

.right_top>dl>dd:last-child>a {
    text-align: right;
    background: #0a7199;
    padding: 8px 20px;
    color: #fff;
    border-radius: 0px;
}

.right_top>dl>dd:last-child>a:hover {
    background: #66a26c;
    color: #fff;
}

.right_top>dl>dd>a:hover {
    color: #0a7199;
}

.wrapper_content {
    padding-right: 25px;
}

.content_01 {
    padding-left: 40px;
    padding-right: 15px;
}


/*content_02
...........................................*/

.content_02 {
    margin-right: -40px;
}

.content_02>h4 {
    font-size: 168%;
    margin-top: 15px;
    color: #0a7199;
}

.content_02>p {
    font-size: 90%;
    color: #8f938f;
    margin-top: 20px;
}

.content_02>p>span {
    color: #fff;
    background: #0089cc;
    padding: 8px 15px;
    margin-left: 8px;
}


/*slider
------------------------------------------*/

.slider {
    margin-top: 30px;
}

.slider_child ul {
    display: flex;
}

.slider_bottom {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    background: #f9f9f9;
}

.slider_bottom ul {
    display: flex;
}

.slider_bottom ul li {
    float: left;
}

.slider_thum {
    padding-left: 5px;
    padding-right: 5px;
}
.slider .wrapper {margin: 0 auto; }
.portfolio-item-slider img {
    height: 327px;
    display: table;
    margin: 0 auto;
}
.portfolio-item-slider {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 15px;
}
.portfolio-thumb-slider img {
    height: 100px;
    display: table;
    margin: 0 auto;
}
.slider .portfolio-thumb-slider .slick-slider-item { padding: 5px; }
.slider .portfolio-thumb-slider { margin: 0 -5px 5px -5px; }
.slider .portfolio-thumb-slider .slick-active img { outline: 2px solid transparent; }
.slider .portfolio-thumb-slider .slick-current img { outline-color: green; }
.slider .slick-slider { margin-bottom: 15px; }
.slider .controls { text-align: center; padding: 10px; font-family: monospace; font-weight: bold; }
/*conten
--------------------------------------------*/

.conten {
    margin-top: 30px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 84%;
    color: #000;
    text-align: center;
}

.table {
    border: 1px solid #ddd;
}

.table_title {
    background: #0a7199;
    color: #fff;
    width: 100%;
    padding: 8px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 84%;
    text-align: center
}

.content_right {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.content_right>h3 {
    font-size: 185%;
}

.content_right>p {
    margin-top: 30px;
    font-size: 90%;
    line-height: 19px;
    color: #8f938f;
    margin-bottom: 40px;
}


/*title_map
-----------------------------------------*/

.map {
    margin-bottom: 50px;
}

.title_map>h4 {
    font-size: 184%;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #0a7199;
    padding-top: 5px;
}


/*.contact
---------------------------------------------*/

.color_red {
    color: red;
}


/*.infomation
--------------------------------------------*/

.infomation {
    margin-bottom: 50px;
}

.title_info>h4 {
    font-size: 184%;
    margin-bottom: 10px;
    margin-top: 25px;
    color: #0a7199;
    padding-top: 15px;
}

.info_table {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.box_info {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.info_table li {
    float: left;
    width: 50%;
    margin-right: 35px;
}

.info_table li:last-child {
    margin-right: 0;
}

.box_info li {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.box_info li:last-child {
    float: right;
    text-align: right;
    padding-right: 10px;
    color: #0a7199;
}


/*  content_03
----------------------------------------*/

.advertisement li {
    margin-bottom: 5px;
}

.content_03 {
    float: right;
}

.right_bottom {
    padding-left: 15px;
}

.wrap_bottom {
    margin-left: 0;
    background: #e1ebe5;
    padding: 30px 15px 30px 15px;
    margin-bottom: 15px;
}

.wrap_bottom>li>h3 {
    background: #0a7199;
    padding: 15px 0 10px 5px;
    color: #fff;
    font-size: 90%;
    margin-bottom: 30px;
    text-align: center;
}

.wrap_bottom.area_child {
    display: flex;
}

.wrap_bottom>form {
    width: 100%;
}

.form_left select {
    width: 100%;
    height: 30px;
    margin: 6px 0;
    background: #f9f9f9;
    border: 1px solid #ccc;
}


/*.content_bottom_01
----------------------------------------------*/

.title_pro>h3 {
    border-bottom: 2px solid #0a7199;
    padding-left: 40px;
    padding-top: 9px;
    font-size: 122%;
    padding-bottom: 4px;
    background: url(../img/ico-bar_menu.png) no-repeat top 6px left 0px;
    margin-bottom: 8px;
    font-weight: bold;
}

.content_bottom_01 {}

.pro_box_child {
    padding: 5px 5px;
}

.padding_pro {
    padding: 0 50px 0 75px;
}

.pro_wrapper {
    padding: 15px 15px 15px 15px;
    background: #e1ebe5;
    margin-bottom: 50px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
}

.product p {
    white-space: break-word;
    width: 100%;
    height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #0a7199;
    font-weight: bold;
}

.product_info {
    display: flex;
    margin-top: 10px;
}

.product_info li {
    float: left;
    width: 50%;
    margin-right: 15px;
}

.product_info li:last-child {
    width: 50%;
}

.pro_child {
    color: red;
}

.pro_child b {
    color: #000;
}

.child {
    width: 100px;
}

.xem_them>a>i {
    color: #0a7199;
    text-align: right;
    display: block;
}

.note_news {
    text-align: right;
    margin-top: 40px;
    color: #000;
    font-style: italic;
    font-weight: bold;
}


/*-------------------------------------------------------------
.detail_new 
-------------------------------------------------------------*/

.picture>img {
    text-align: center;
}

.date_time {
    font-style: italic;
}

.news_old {
    font-size: 117%;
    font-weight: bold;
    color: #666;
    margin: 0 0 15px 0;
    border-top: 1px solid #0a7199;
    padding: 10px 0 0 0;
}

.list_news dt {
    color: #999;
    font-weight: 100;
    font-size: 84%;
    padding: 4px 0 0 0;
}

.list_news dt>span {
    margin-left: 5px;
}

.list_news dd {
    color: #0089cc;
}

.list_news dd::before {
    content: "- "
}

.text_bold {
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.content_news {
    margin-top: 30px;
    color: #666;
    line-height: 1.8;
}

.new_advertisement {
    padding: 0;
}

.adv_news {
    padding: 0;
}

.news_adv {
    padding: 0;
}


/*.responsive
--------------------------------------------------*/

@media screen and (max-width: 991px) {
    .right_bottom {
        padding-left: 15px;
        padding-right: 5px;
    }
    .padding_pro {
        padding: 0px 30px 0 65px;
    }
    .form_dangki {
        padding: 0 75px;
    }
    .content_01 {
        padding-left: 55px;
        padding-right: 30px;
    }
    .content_02 {
        margin-right: 0;
        margin-left: 10px;
    }
    .content_02>h4 {
        text-align: center;
    }
    .content_02>p {
        text-align: center;
    }
    .content_right>h3 {
        font-size: 185%;
        text-align: center;
        color: #0a7199;
    }
    .content_left {
        padding: 0 30px 0 35px;
    }
    .content_right {
        border-top: 1px solid #ccc;
        /* padding-top: 0; */
        /* margin-left: 0; */
        margin-right: 15px;
        margin-left: 15px;
    }
    .title_map>h4 {
        text-align: center;
    }
    .wrapper_map {
        padding: 0 40px;
    }
    .title_info>h4 {
        font-size: 184%;
        margin-bottom: 35px;
        margin-top: 25px;
        color: #0a7199;
        border-top: 1px solid #eee;
        padding-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }
    .wrapper_table {
        padding: 0 30px 0 35px;
    }
    .wrap_bottom {
        /* margin-left: 0; */
        background: #e1ebe5;
        padding: 30px 15px 30px 15px;
        margin: 20px 15px 0 30px;
    }
    .pro_wrapper {
        padding: 15px 20px 30px 20px;
        background: #e1ebe5;
        margin-bottom: 40px;
        margin-top: 20px;
        margin-right: -5px;
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        margin-left: 0;
    }
}

@media screen and (max-width :767px) {
    header {
        height: 95px;
        width: 100%;
        position: relative;
        z-index: 35;
    }
    .carousel {
        padding-top: 0;
    }
    .title>h3 {
        margin-left: 30px;
    }
    .right_top {
        background: #e1ebe5;
        padding-left: 0;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .right_top>dl>dd {
        margin-left: 15px;
    }
    .wrap_bottom {
        margin-right: -15px;
    }
    .menu_login {
        margin-left: 0;
        text-align: right;
        display: table;
        float: right;
        margin-right: 16%;
        margin-top: 10px;
    }
    .text_header {
        display: none;
    }
    .border_right {
        border-right: none;
    }
    .navbar-default {
        background-color: #3a3a3a;
        border-color: transparent;
        margin-left: 0px;
        margin-bottom: 0;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #0a7199;
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #0a7199;
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0a7199;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 15px;
        height: 2px;
        border-radius: 1px;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 8px 10px;
        margin-top: 13px;
        margin-bottom: 1px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .wrap_bottom>li>h3 {
        margin-left: 0;
        padding-left: 40px;
    }
    .area_child {
        margin-left: 50px;
    }
    .form_dk {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .form_dangki {
        padding: 0 30px;
    }
    .content_01 {
        padding-left: 45px;
        padding-right: 20px;
    }
    .wrapper_map {
        padding: 0 20px 0 25px;
    }
    .wrap_bottom {
        margin-right: 15px;
    }
    .map {
        margin-bottom: 0;
    }
    .advertisement {
        margin: 15px 0 0 0px;
    }
    .advertisement_news {
        padding: 0 15px 0 30px;
    }
    .news_content_02 {
        padding: 0px 30px 0 35px;
    }
    .content_news {
        padding: 0 15px;
    }
    .new_advertisement {
        padding: 0 15px 0 30px;
    }
    .news_adv {
        padding: 0;
    }
}