﻿@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/

* {
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-left: -66px;
}


/*----------------------------------------
   content
----------------------------------------*/


/*  conten_left
----------------------------------------*/

.margin_content_left {
    padding-left: 30px;
}

.title_left {
    padding: 3px;
}

.title_right {
    margin: 15px 0 0 0;
}

.title {
    text-align: center;
    background: #0a7199;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
}

.margin_title h3 {
    text-align: center;
    background: #0a7199;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
}

.margin_title {
    padding-top: 40px;
    background: transparent;
    padding-bottom: 30px;
}

.style_title {
    padding-top: 40px;
}

.bg_product_bottom {
    margin: 15px 0;
}

.advertisement>li {
    margin-bottom: 5px;
}

.list_area>li {
    text-align: left;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-left: 20px;
}

.list_area>li>a:hover {
    text-decoration: none;
}

.experience {
    margin-top: 10px;
}

.text_experience {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    height: 101px;
    overflow: hidden;
}

.text_experience dt {
    text-align: left;
}

.text_experience dd {
    color: #8f938f;
    text-align: left;
}

.margin_form {
    margin-left: 15px;
}

.magin_form_dk {
    padding: 0;
    margin-left: 30px;
    border-radius: 8px 8px 0 0;
    background: #e1ebe5;
    margin-bottom: 30px;
}

.magin_form_dk>h3 {
    text-align: center;
    padding: 49px 15px 15px;
    background: #016098 url(../img/ico-search.png) no-repeat top 26px left 25px;
    border-radius: 8px 8px 0 0;
    color: #fff;
    background-size: 50px;
}

.magin_form_dk .row.row_form {
    padding: 45px 10px 45px 10px;
}

.form_01 select {
    margin-bottom: 20px;
    border: 1px solid #0a7199;
    border-radius: 20px;
    height: 30px;
    padding: 0 0 0 15px;
    font-size: 12px;
    font-style: italic;
}

.form_01 input[type="text"]:focus,
.form_01 select:focus {
    outline: none;
}

.form_01 input[type=text] {
    margin-bottom: 15px;
    border: 1px solid #0a7199;
    border-radius: 20px;
    height: 27px;
    padding: 0 0 0 15px;
    font-size: 12px;
    font-style: italic;
}

.content {
    margin-left: 15px;
}

.content_left {
    background: #fafafa;
    padding-top: 15px;
}

.content_left>ul {
    display: flex;
    margin-bottom: 10px;
}

.content_left>ul li {
    float: left;
}

.content_left>ul li+li {
    margin-right: 0;
}

.content_child {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}

.infomation dt {
    font-size: 120%;
    font-weight: bold;
    padding-left: 35px;
    margin: 15px 0 15px 0;
    background: url(../img/bg-title.png) no-repeat;
}

.infomation dt a {
    color: #ff0000;
}

.infomation dt a:hover {
    color: #0a7199;
    text-decoration: none;
}

.info ul {
    display: flex;
    font-size: 117%
}

.info ul li {
    float: left;
    width: 100px;
    color: #0a7199;
    width: auto;
}

.info ul li:first-child {
    float: left;
    width: 150px;
    font-weight: bold;
    padding-left: 60px;
    color: #000;
}

.bg-info_01 {
    background: url(../img/ico-dientich.png) 34px 0px no-repeat;
}

.bg-info_02 {
    background: url(../img/ico-gia.png) 34px 0px no-repeat;
}

.bg-info_03 {
    background: url(../img/ico-map.png) 34px 0px no-repeat;
}

.info_last ul li:first-child {
    float: right;
    font-weight: inherit;
    color: #aaaaaa;
    font-size: 84%;
    margin-right: 15px;
}

.paging {
    display: table;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
    float: right;
    padding: 0 0 20px 0;
}

.area_page {
    overflow: hidden;
}

.area_more {
    margin: 10px 0 0 0;
}


/*----------------------------------------
    .content_right
----------------------------------------*/

.right_top {
    /*margin-top: 15px;*/
}

.content_right {
    padding-right: 30px;
    padding-left: 15px;
}


/*  right_top
----------------------------------------*/

.title>h3 {
    font-weight: bold;
    color: #016098;
    padding-left: 30px;
    margin-left: -15px;
    border-bottom: 2px solid #0a7199;
    margin-top: 15px;
    padding-bottom: 3px;
    padding-top: 5px;
    font-size: 120%;
    background: url(../img/ico-bar_menu.png) 0 1px no-repeat;
}

.right_top>dl>dd {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 15px;
    margin-left: 8px;
    background: url(../img/bg-icon_bar.png) 0 5px no-repeat;
    line-height: 16px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.right_top>dl>dd>a {
    color: #000;
    font-size: 84%;
    text-decoration: none;
}

.right_top>dl>dd:last-child {
    background: none;
    text-align: right;
    border: none;
}

.right_top>dl>dd:last-child>a {
    text-align: right;
    background: #0a7199;
    padding: 8px 20px;
    color: #fff;
    border-radius: 0px;
}

.right_top>dl>dd:last-child>a:hover {
    background: #0a7199;
    color: #fff;
}

.right_top>dl>dd>a:hover {
    color: #0a7199;
}


/*  right_bottom
----------------------------------------*/

.right_bottom {
    margin-left: 0;
    /* padding-left: 25px; */
    padding-top: 15px;
    margin-top: 10px;
}

.wrap_bottom {
    background: #e1ebe5;
    padding: 0 0 15px 0;
}

.right_bottom .wrap_bottom>li:first-child {
    background: #0a7199;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.wrap_bottom.area_child {
    display: flex;
}

.wrap_bottom.area_child li {
    float: left;
    width: 50%;
}

.area_child {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.area_child li {
    float: left;
    width: 50%;
    margin-right: 30px;
}

.area_child li:last-child {
    margin-right: 0;
}

.area dt {
    font-size: 84%;
    margin-left: -10px;
}

.area dd {
    padding-left: 15px;
    background: url(../img/ico-list.png) 0 8px no-repeat;
}

.area dd a {
    color: #8f938f;
    font-size: 84%;
}

.area dd:last-child {
    background: none;
}

.area dd a i {
    color: #0a7199;
    margin-left: -12px;
}

@media screen and (max-width :1355px) {
    .magin_form_dk>h3 {
        text-align: center;
        padding: 49px 15px 15px;
        background: #016098 url(../img/ico-search.png) no-repeat top 1px center;
        border-radius: 8px 8px 0 0;
        color: #fff;
        background-size: 50px;
    }
}

@media screen and (max-width :991px) {
    .menu_login {
        margin-left: 0;
    }
    .margin_form {
        margin-left: 0;
    }
    .form_dk {
        background: #fff;
        border: 1px solid #ccc;
        padding: 15px 15px 10px 15px;
        /* opacity: 0.9; */
        /* position: absolute; */
        z-index: 20;
        top: -184px;
        margin-left: 15px;
        /* margin-right: 30px; */
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        margin-left: 0;
    }
    .form_01 select {
        margin-bottom: 5px;
        height: 25px;
    }
    .form_01 input[type=text] {
        margin-bottom: 5px;
        height: 25px;
    }
    .form_dangki {
        padding-right: 0;
    }
    .margin_row {
        margin-left: 0;
        margin-right: 0;
    }
    .content_left>ul li {
        float: none;
    }
    .content_left>ul li>a {
        display: table;
        margin: 0 auto;
    }
    /*------------------------------------------
news
-----------------------------------------------------*/
    .text_experience dt {
        text-align: left;
        margin-top: 10px;
    }
    .experience {
        margin-top: 15px;
    }
}

@media screen and (max-width :767px) {
    header {
        height: 95px;
        width: 100%;
        position: relative;
        z-index: 35;
    }
    .carousel {
        padding-top: 0;
    }
    .content_left {
        background: #fafafa;
        padding-top: 15px;
        padding-right: 30px;
    }
    .carousel-control {
        position: absolute;
        top: 53px;
        left: 0;
        bottom: 0;
        width: 15%;
        opacity: .5;
        filter: alpha(opacity=50);
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    }
    .block_slider {
        display: none;
    }
    /*----------------------form_dk--------------------------*/
    .form_dk {
        background: #fff;
        border: 1px solid #ccc;
        padding: 20px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .form_dangki {
        padding-right: 30px;
    }
    .form_01 select {
        width: 100%;
        margin-bottom: 5px;
        padding: 3px;
        background: #fff;
    }
    .form_01 input[type=text] {
        width: 100%;
        padding: 2px 3px;
        background: #fff;
        margin-bottom: 5px;
    }
    .form_01 button {
        padding: 2px 7px;
        background: transparent;
        border: 2px solid #0a7199;
        color: #0a7199;
    }
    /*----------------------form_dk--------------------------*/
    .title>h3 {
        margin-left: 30px;
    }
    .right_top>dl>dd {
        margin-left: 0;
    }
    .wrap_bottom {
        margin-right: -15px;
    }
    .text_header {
        display: none;
    }
    .border_right {
        border-right: none;
    }
    .navbar-default {
        background-color: #3a3a3a;
        border-color: transparent;
        margin-left: 0px;
        margin-bottom: 0;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #0a7199;
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #0a7199;
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0a7199;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 15px;
        height: 2px;
        border-radius: 1px;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 8px 10px;
        margin-top: 7px;
        margin-bottom: 1px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .wrap_bottom>li>h3 {
        margin-left: 0;
        padding-left: 40px;
    }
    .area_child {
        margin-left: 50px;
    }
    .text_experience {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-top: 15px;
    }
    .margin_title {
        padding: 15px 0 15px 0;
        background: #e1ebe5;
        margin-bottom: 15px;
    }
    .infomation dt {
        font-size: 120%;
        font-weight: bold;
        padding-left: 0;
        margin: 15px 0 15px 0;
        background: transparent;
        /* text-align: center; */
    }
    /*.content_right
----------------------------------------------------------*/
    .content_right {
        padding-right: 20px;
        padding-left: 20px;
    }
    .right_top {
        margin-top: 15px;
        padding-right: 30px;
    }
    .right_bottom {
        margin-left: -5px;
        padding-left: 0px;
        background: #e1ebe5;
        padding-top: 0;
        margin-top: 10px;
    }
}

@media screen and (max-width :650px) {
    /*----------------------form_dk--------------------------*/
    /*----------------------form_dk--------------------------*/
    .infomation dt h3 {
        font-size: 109%;
        margin: 2px 0 7px 0;
    }
    .info ul {
        font-size: 83%;
    }
    .info ul li:first-child {
        width: 110px;
    }
}

@media screen and (max-width :450px) {
    .menu_login {
        margin-left: 0;
        text-align: right;
        display: table;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }
    .infomation dt h3 {
        font-size: 84%;
        font-weight: bold;
        padding-left: 0px;
        background: transparent;
    }
    .info>ul li:first-child {
        width: 47px;
    }
    .info>ul li:first-child {
        float: left;
        width: 50px;
        font-weight: bold;
        padding-left: 0;
        color: #000;
    }
    .info>ul li {
        float: left;
        width: 47px;
        color: #0a7199;
        width: auto;
    }
    .content_left>ul li {
        float: left;
    }
    .bg-info_01 {
        background: transparent;
    }
    .bg-info_02 {
        background: transparent;
    }
    .bg-info_03 {
        background: transparent;
    }
}