@charset "utf-8";

/*---------------------------------------
    リセットCSS（編集不要）
----------------------------------------*/

html {
    overflow-y: scroll;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

q:before,
q:after {
    content: '';
}

object,
embed {
    vertical-align: top;
}

hr,
legend {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
}

ul li {
    list-style-type: none;
}

a,
label {
    cursor: pointer;
}

img {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Tahoma;
}


/*----------------------------------------
   header
----------------------------------------*/

.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #0a7199;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    margin-top: 0;
    top: 53px;
    font-size: 189%;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #0a7199;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0a7199;
    background-color: #0a7199;
}

header {
    height: 95px;
    width: 100%;
    /*position: fixed;*/
    z-index: 35;
}

header .header_top_text .row {
    position: fixed;
    background: #000;
    color: #f4f408;
    padding: 11px 0;
    height: 35px;
    width: 100%;
    z-index: 100000;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

header .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 3px;
}


/*  .header_top
----------------------------------------*/

header .header_img {
    height: 74px;
}

.header_top {
    margin-top: 35px;
}

.border_right {
    margin: 0;
}

.style_header_top {
    padding: 5px 0;
}

.text_header .text_logo {
    /* width: 250px; */
    height: 74px;
    line-height: 74px;
    padding-left: 10px;
    border-left: 1px solid #0a7199;
    font-size: 95%;
    font-weight: bold;
    color: #0a7199;
}

.border_right h1 a img {
    background: url("../img/bg_logo.png") no-repeat top left;
    background-size: 140px;
}

.text_header .text_logo>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.menu_login {
    display: table;
    background: #0089cc;
    padding: 4px 15px;
    float: right;
    margin: -3px 0 0 0;
}

.menu_login>li {
    float: left;
    margin-right: 10px;
}

.menu_login>li:last-child {
    margin-right: 0px;
}

.menu_login>li>a {
    color: #fff;
    display: block;
    padding-right: 10px;
    border-right: 1px solid #ccc;
    font-size: 90%;
    display: block;
}

.menu_login>li>a:hover {
    color: #fff;
    text-decoration: none;
}

.menu_login>li:last-child>a {
    border-right: none;
    padding-right: 0;
}


/*  .header_bottom
----------------------------------------*/

.header_bottom {
    height: 40px;
    background: #0089cc;
}

.caret {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #eee;
    background-color: transparent;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-left: -66px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #0a7199;
    font-size: 84%;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 84%;
    font-weight: bold;
}

.navbar-nav>li {
    float: left;
    margin-top: 3px;
    margin-right: 1px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
    margin-top: 0;
}

.container-fluid {
    margin-top: -4px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ddd;
    background-color: #0a7199;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #0a7199;
    color: #ddd;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}


/*----------------------------------------
   fỏm_dk
----------------------------------------*/

.form_dk {
    background: #e1ebe5;
    border: 1px solid #ccc;
    padding: 25px 25px 10px 25px;
    opacity: 0.9;
    top: -168px;
}

.form_01 select {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    background: #fff;
}

.form_01 input[type=text] {
    width: 100%;
    padding: 2px 5px;
    background: #fff;
    margin-bottom: 15px;
    height: 31px;
}

.form_01 button {
    padding: 3px 40px;
    background: #0a7199;
    border: 2px solid #0a7199;
    margin: 0 auto;
    display: table;
    color: #fff;
    border-radius: 25px;
}


/*----------------------------------------
   footer
----------------------------------------*/

footer {
    background: #090909;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.footer_icon {
    display: table;
    width: 93px;
    margin: 0 auto;
}

.footer_icon li {
    float: left;
}

.footer_icon li a img:hover {
    opacity: 0.5;
}

@media screen and (max-width:991px) {
    header .header_top {
        margin-top: 65px;
    }
    header .header_top_text .row {
        position: fixed;
        background: #000;
        color: #f4f408;
        padding: 7px 0;
        height: auto;
        width: 100%;
        z-index: 100000;
        font-size: 13px;
        font-style: italic;
        text-align: center;
    }
}

@media screen and (max-width :767px) {
    header .header_top {
        margin-top: 45px;
    }
    header .navbar-nav>li {
        float: left;
        margin-top: 3px;
        margin-right: 1px;
        width: 100%;
        text-align: center;
        border-top: 1px solid #666;
    }
    header .navbar-nav>li:first-child {
        border-top: none;
    }
    header .text_hotline {
        display: none;
    }
    header .menu_login {
        margin-right: 0;
    }
    header .menu_login {
        text-align: right;
        display: table;
        float: right;
        margin-right: 0;
        margin-top: 0px;
    }
    .navbar-default {
        background-color: #3a3a3a;
        border-color: transparent;
        margin-left: 0px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #0a7199;
        background-color: transparent;
    }
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #0a7199;
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #0a7199;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 15px;
        height: 2px;
        border-radius: 1px;
    }
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 20px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 8px 10px;
        margin-top: 13px;
        margin-bottom: 1px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .img-responsive,
    .thumbnail>img,
    .thumbnail a>img,
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        display: block;
        max-width: 100%;
        height: auto;
        display: table;
        margin: 0 auto;
    }
}