.form_dangki {
    margin-bottom: 25px;
}

.title_page_child {
    height: 100px;
    margin-bottom: 40px;
    padding-left: 0;
}

.title_page_child h2 {
    background: #e1ebe5;
    line-height: 100px;
    text-align: center;
    color: #0a7199;
    display: block;
    margin: 0;
    font-size: 200%;
    font-weight: bold;
}

.content_right {
    padding-right: 45px;
    padding-left: 15px;
}


/*-------------------------------------------------
.post
--------------------------------------------------*/
.post_title {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
    background: #0a7199;
    color: #fff;
    margin-top: 40px;
}
.content_post {
    background: transparent;
}

.font-size {
    font-size: 100%;
}

.title_post {
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    color: #0a7199;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.note_title {
    text-align: center;
    color: #666;
}

.form_info {
    overflow: hidden;
}

.form_info dt {
    float: left;
    width: 150px;
}

.form_info dd {
    float: left;
    width: 690px;
}

.txtProductTitle_count {
    float: left;
    margin-left: 10px;
}

.text-field {
    width: 690px;
}

.hide_text {
    font-style: italic;
    font-size: 95%;
    color: #0a7199;
    margin-top: 7px;
    padding-left: 10px;
}

.form-group {
    margin-bottom: 10px;
}


/*.news*/

.right_bottom .wrap_bottom>li:first-child {
    background: #0a7199;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.news .margin_content_left {
    padding-left: 15px;
}

.news .margin_title {
    padding-top: 40px;
    background: transparent;
    padding-bottom: 30px;
}

.news .content_left {
    background: #fafafa;
    padding-top: 15px;
    padding-left: 15px;
}

.news .wrap_bottom {
    background: #e1ebe5;
    padding: 0 0 15px 0;
}

.news .right_bottom {
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
    background: transparent;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.news .wrap_bottom>li:first-child {
    text-align: center;
    background: #0a7199;
    padding: 7px 0;
    color: #fff;
}

.news .area_child {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0 20px;
}

.news .content_right {
    padding-right: 30px;
    padding-left: 15px;
}

.news .right_bottom_new {
    background: transparent;
}

.news .paging {
    display: table;
    padding-left: 0;
    margin: 0 auto;
    border-radius: 4px;
    float: right;
    padding: 0 25px 20px 0;
}

.news nav.page {
    display: table;
    margin: 0 auto;
}


/*.tab_change
---------------------------------------------------------*/


/* Change background color of links on hover */

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
    margin-top: 50px;
}


/* Float the list items side by side */

ul.tab li {
    float: left;
    width: 50%;
    box-sizing: border-box;
}


/* Style the links inside the list items */

ul.tab li a {
    text-align: center;
    padding: 8px 0;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    box-sizing: border-box;
    text-align: center;
    display: block
}


/* Change background color of links on hover */

ul.tab li a:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

ul.tab li a:focus,
ul.tab li a:active,
.active {
    background-color: #0a7199;
    color: #ddd;
}


/* Style the tab content */

.tabcontent {
    padding: 25px 50px 12px;
    border-top: none;
    padding: 25px 0 70px 12px;
}

.tabcontent>h4 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: #999;
}

.margin_bottom {
    margin-top: 50px;
    margin-bottom: 10px;
}

.color_red {
    color: red;
}

.color_blue {
    color: #0a7199;
}

.margin_content {
    padding-bottom: 100px;
}

.btn_contact {
    display: block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 65px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    margin: 0 auto;
    background: #0a7199;
}


/*.form_contact
-------------------------------------------------------------------*/

.form_contact {
    background: #ddd;
    padding: 40px 51px;
    margin-top: 40px;
}

.form_contact .style_contact {
    padding: 0 51px;
}

.title_contact {
    text-align: center;
    color: #888;
    font-weight: bold;
    font-size: 167%;
    margin-bottom: 30px;
}

.form-check {
    padding-left: 127px;
}


/*.form_describe
-------------------------------------------------------------------*/

textarea.form-control {
    height: 150px;
    overflow: auto;
}


/*.form_calendar
--------------------------------------------------------------------*/

.calendar {
    overflow: hidden;
}

.calendar dl,
.calendar dt {
    float: left;
}

.calendar dt {
    color: #0a7199;
}

.note_calendar {
    font-size: 84%;
    margin-top: 8px;
}


/*.form_pay
----------------------------------------------------------------------*/

.form_pay {
    overflow: hidden;
    border: 1px solid #0a7199;
}

.form_pay dt {
    text-align: center;
    padding: 8px 0;
    background: #0a7199;
    color: #fff;
}

.form_pay dd {
    text-align: center;
    padding: 15px 0;
    color: #0a7199;
    font-weight: bold;
}

.form_contact .style_text_describe {
    padding: 24px 51px 0 15px;
}


/*.form_img
--------------------------------------------------------------------*/

.buttonBox {
    padding: 20px;
    text-align: center;
}

.imagePreviewTable {
    border: 1px solid #000;
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    /* ie fallback png background image */
    z-index: 9999;
    color: white;
    text-align: center;
    height: 5000px;
    display: none;
}

.overlay_content {
    padding: 300px;
}


/*.area_login
--------------------------------------------------------------------*/

.area_login {
    background: transparent;
    padding: 0 51px;
    margin-top: 40px;
    text-align: center;
}

.bg_button {
    background: red;
    border: 1px solid red;
}

.text_italic {
    font-style: italic;
    color: #000;
}

.text_bold {
    font-weight: bold;
}

.bold_black {
    color: #000;
    font-weight: bold;
}

.text_bottom {
    background: transparent;
    padding: 0;
    margin-top: 0;
    font-size: 84%;
    text-align: left;
    line-height: 1.8;
}


/*login_register*/

.login_register .color_red {
    color: red;
}

.login_register .form_login {
    margin: 0 0 100px 0;
    padding: 50px 0;
}

.login_register .form_login>h3 {
    font-size: 184%;
    color: #0a7199;
    font-weight: bold;
    text-align: center;
}

.login_register .title_information {
    text-align: center;
    font-size: 134%;
    color: #0a7199;
    margin: 50px 0 0 0;
    border-top: 1px solid #0a7199;
    padding: 20px 0 0;
}


/*responsive
--------------------------------------------------------------------*/

@media screen and (max-width :991px) {
    .margin_form {
        margin-left: 0;
    }
    .form_dk {
        background: #fff;
        border: 1px solid #ccc;
        padding: 15px 15px 10px 15px;
        z-index: 20;
        top: -184px;
        margin-left: 15px;
        margin-right: 30px;
    }
    .form_01 select {
        margin-bottom: 5px;
        height: 25px;
    }
    .form_01 input[type=text] {
        margin-bottom: 5px;
        height: 25px;
    }
    .form_dangki {
        padding-right: 0;
    }
    .margin_row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .content_left {
        background: #fafafa;
        padding-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
    .margin_content_left {
        padding-left: 0;
    }
    .margin_content_left .content_left {
        background: #fafafa;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 30px;
    }
    .product_left {
        background: transparent;
        padding-top: 0;
        padding-left: 0;
        padding-right: 42px;
    }
    .form_dangki {
        margin-top: 0;
        margin-bottom: 0;
    }
    .title_page_child h2 {
        background: #e1ebe5;
        line-height: 100px;
        text-align: center;
        color: #0a7199;
        display: block;
        margin: 0;
        font-size: 200%;
        font-weight: bold;
        margin: 15px 30px;
    }
    .form_dangki {
        margin-top: 0;
        padding-left: 0;
    }
    .form_contact .style_contact {
        padding: 0 15px;
    }
    .form-check {
        padding-left: 0;
    }
    .margin_content {
        padding-bottom: 0;
    }
    .tabcontent {
        /* padding: 25px 50px 12px; */
        border-top: none;
        padding: 25px 0 25px 12px;
    }
    ul.tab {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 100%;
        box-sizing: border-box;
        margin-top: 25px;
    }
    .margin_bottom {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .information .contact {
        margin-right: 15px;
    }
    .form_contact {
        padding: 15px;
        margin-top: 15px;
    }
    .form_pay {
        overflow: hidden;
        border: 1px solid #0a7199;
        margin-bottom: 10px;
    }
    .right_top {
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .right_bottom {
        margin-left: 0;
        padding-left: 0px;
        background: #e1ebe5;
        padding-top: 0;
        margin-top: 10px;
    }
    .product_right_top {
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 0;
    }
    .product_right_bottom {
        margin-left: -15px;
        padding-right: 0;
        padding-left: 0px;
        background: #e1ebe5;
        padding-top: 0;
        margin-top: 10px;
    }
    .news .content_right {
        padding-right: 15px;
        padding-left: 15px;
    }
    .news .content_left {
        background: #fafafa;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
    .news .margin_title {
        padding-top: 0;
        background: transparent;
        padding-bottom: 0;
    }
    .news .margin_content_left {
        padding-left: 15px;
        padding-right: 30px;
    }
    .news .right_top {
        margin-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .news .right_bottom {
        padding-left: 0;
        background: transparent;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .news .area_child {
        display: flex;
        margin-top: 10px;
        margin-bottom: 15px;
        padding: 0;
    }
    .news .right_bottom_new {
        background: transparent;
        padding: 0;
    }
    /*.login_register*/
    .login_register .form_login {
        margin: 0;
        padding: 30px 0;
    }
    .login_register .content_login {
        padding: 15px;
    }
}